<section class="credits">
    <header data-ng-include="'/modules/core/views/header.html'" class="navbar navbar-fixed-top"></header>

    <div class="globito">
        <img src="/modules/core/img/loaders/globo.png"/>
    </div>
    <section class="credits-container">

        <h3>Idea y coordinación general</h3>
        <ul>
            <li>Victoria Gandini</li>
        </ul>

        <h3>Coordinación y producción de contenidos musicales</h3>
        <ul>
            <li>Aníbal Glüzmann</li>
            <li>Mariano Piñeiro</li>
        </ul>
        <h3>Grabación y edición de contenidos musicales</h3>
        <ul>
            <li>Mariano Piñeiro</li>
        </ul>

        <h3>Coordinación de contenidos musicales región NOA</h3>
        <ul>
            <li>Nancy Sánchez</li>
        </ul>

        <h3>Coordinación de contenidos de geografía</h3>
        <ul>
            <li>María José García Barassi</li>
        </ul>

        <h3>Programación del Compositor</h3>
        <ul>
            <li>Pablo Morra</li>
        </ul>
        <h3>Programación de Contenidos</h3>
        <ul>
            <li>Juan Pablo Vercesi</li>
        </ul>

        <h3>Diseño web e ilustraciones</h3>
        <ul>
            <li>Julieta Levín</li>
        </ul>

        <h3>Ilustraciones</h3>
        <ul>
            <li>Mariana Sáenz</li>
        </ul>

        <h3>Música original NEA (Chamamé):</h3>
        <ul>
            <li>Iván Elizaincin</li>
        </ul>

        <h4>Intérpretes:</h4>
        <ul>
            <li>Iván Elizaincin (guitarra)</li>
            <li>Santiago Segret (bandoneón)</li>
            <li>Ezequiel Agüero (contrabajo)</li>
        </ul>

        <h3>Música original Pampa (Milonga porteña):</h3>
        <ul>
            <li>Aníbal Glüzmann</li>
        </ul>

        <h4>Intérpretes:</h4>
        <ul>
            <li>Iván Elizaincin (guitarra)</li>
            <li>Santiago Segret (bandoneón)</li>
            <li>Aníbal Glüzmann (piano)</li>
        </ul>

        <h3>Música original Sierras Pampeanas (Zamba)</h3>
        <ul>
            <li>Silvina Wainszelbaum</li>
        </ul>

        <h4>Intérpretes:</h4>
        <ul>
            <li>Iván Elizaincin (guitarra)</li>
            <li>Santiago Segret (1era voz, bombo)</li>
            <li>Aníbal Glüzmann (piano y 2da voz)</li>
        </ul>

        <h3>Música NOA</h3>

        <h4>Intérpretes:</h4>
        <ul>
            <li>Aníbal Glüzmann (quena, charango y bombo)</li>
        </ul>

        <h3>Colaboración en programación</h3>
        <ul>
            <li>Juan Manuel Sánchez</li>
        </ul>

        <h3>Tema original Home</h3>
        <ul>
            <li>Dante Dellacasa</li>
        </ul>

        <h3>Colaboración en diseño de contenidos musicales NOA</h3>
        <ul>
            <li>Pedro Gómez</li>
            <li>Diego Moreno</li>
            <li>Matías Niebur</li>
            <li>Mariano Piñeiro</li>
        </ul>

        <h3>Colaboración en el diseño musical</h3>
        <ul>
            <li>Dante Dellacasa</li><li>Eric Le-Quesne</li>
        </ul>

        <h3>Colaboración en diseño de Tutorial</h3>
        <ul>
            <li>Diego Moreno</li>
        </ul>

        <h3>Colaboración en el diseño de contenidos de geografía</h3>
        <ul>
            <li>Catalina Cáceres Pereyra</li>
            <li>Laura Gudiño</li>
        </ul>


    </section>
    <a data-ng-href="/#!/" class="volver"></a>
</section>
