<section class="loading-screen" data-ng-hide="done">
  <p>Cargando...</p>
  <div class="globito">
      <img src="/modules/core/img/loaders/globo.png" alt="Cargando...">
  </div>
  <section class="loader-container">
    <div class="loader">
      <div class="loader-block"></div>
      <div class="loader-block delay1"></div>
      <div class="loader-block delay2"></div>
      <div class="loader-block delay3"></div>
      <div class="loader-block delay4"></div>
    </div>
  </section>
</section>


<section class="home" data-ng-show="done">

	<div>
		<div class="home-fondo"></div>

		<div class="valle-home"></div>
		<div id="map" class="mapa-home"></div>

		<div id="globo" class="globo aterrizar">
			<div class="bienvenido_home">
                <p>
                    <strong>¡Bienvenido!</strong><br/>
                    ¿A dónde vamos?
                </p>
            </div>
		</div>

		<!-- <div class="comenzar" ng-click="aterrizar = !aterrizar" ng-init="aterrizar = false"></div> -->
		<div class="comenzar"></div>

	</div>
    <button data-ng-click="toggleMusic()" class="audio-control" data-ng-class="ambient ? 'on' : 'off'" title="Prender / Apagar"></button>

	<script type="text/ng-template" id="myModalContent.html">
		<div class="subregion-modal">
			<div >
				<p class="subregion-title">Ups! esta regi&oacute;n no esta disponible!</p>
				<p class="subregion-title">Proba con el NOA!</p>
			</div>
		</div>
	</script>

</section>
