<section>

<header data-ng-include="'/modules/core/views/header.html'" class="navbar navbar-fixed-top"></header>

<div class="contenedor-instrumento">

	<div class="instrument-pic">
		<img ng-src="common/images/instrument/{{instrument.id}}/{{ instrument.pic }}"/>
	</div>

	<div class="instrument-text-container">
		<h2 class="instrument-title">{{instrument.name}}</h2>
		<p class="instrument-text">{{instrument.description}}</p>
	</div>

	<div class="instrument-audio-player" ng-repeat="audio in instrument.audio">
		<audio id="{{ audio }}"><source ng-src="{{ instrumentsConfig.PUBLIC_AUDIO_PATH + instrument.id + '/' + audio }}" type="audio/mp3"></audio>
		<a data-ng-audio="{{ audio }}"><div class="instrument-audio play"></div></a>
		<div class="instrument-audio stop" ng-click="stop()"></div>
	</div>

</div>

<a href="#!/regions/{{regionCode}}/instruments" class="volver"></a>

</section>
