<section>

<header data-ng-include="'/modules/core/views/header.html'" class="navbar navbar-fixed-top"></header>

<div class="contenedor-instrumentos">
	<div class="instrumentos-controles izquierda">
		<div class="flecha-horizontal izquierda" data-ng-click="slider('prev', regionInstruments)" ></div>
	</div>

	<div class="slider-instrumentos">
	<ul class="instrumentos-lista">
		<li data-ng-repeat="instrument in regionInstruments"  ng-hide="offset > {{$index}}">
		<a ng-href="#!/instruments/{{regionCode}}/{{instrument.code}}" class="instrumento-grande" style="background: url('common/images/instrument/{{instrument.code}}/{{ instrument.pic }}') no-repeat center;"></a>
		</li>
	</ul>
	</div>

	<div class="instrumentos-controles derecha">
		<div class="flecha-horizontal derecha" data-ng-click="slider('next', regionInstruments)"></div>
	</div>
</div>
<button data-ng-click="toggleMusic()" class="audio-control" data-ng-class="music.muting ? 'off' : 'on'" title="Prender / Apagar"></button>
<a href="#!/regions/{{regionCode}}" class="volver"></a>

</section>
