<section data-ng-controller="ComposerController" class="composer">
  <h1 class="title">Viaje musical</h1>
  <div class="main-box">
    <div class="main-box-common main-box-top">
      <menu class="nav-items">
        <button class="nav-item new" data-ng-click="confirmNew()">Nuevo</button>
        <!-- <button class="nav-item wipe" data-ng-click="wipe()">Borrar</button> -->
        <button class="nav-item menu" data-ng-click="confirmExample()">Menu</button>
      </menu>
      <ul>
        <track data-ng-repeat="instrument in instruments" instrument="instrument" on-choose-instrument="changeInstrument(instrument)" />
      </ul>
    </div>
    <div class="main-box-common main-box-bottom sample-dock">
      <div class="selected-instrument">
        <img ng-class="selectedInstrument.name | lowercase" title="{{selectedInstrument.name}}" alt="{{selectedInstrument.name}}" data-ng-src="/modules/composer/img/{{selectedInstrument.name | lowercase}}-grande.png">
      </div>
      <div class="sample-controls">
        <button class="move-left">&lt;-</button>
        <ul class="sample-list">
          <sample data-ng-repeat="sample in selectedInstrument.samples" instrument="selectedInstrument.name" sample="sample" />
        </ul>
        <button class="move-right">-&gt;</button>
      </div>
      <div class="controls">
        <button data-ng-click="play()" class="control play">Play</button>
        <button data-ng-click="stop()" class="control stop">Stop</button>
      </div>
    </div>
  </div>
  <a class="back" href="/">Volver</a>

  <div 
    ng-show="messageTemplate" 
    class="message ng-hide-add ng-hide-add-active"
    ng-class="messageTemplate">
    <div ng-include="templateName(messageTemplate)" />
  </div>

  <script type="text/ng-template" id="new.html">
    <p class="message-text">¿Querés comenzar una nueva composición?</p>
    <menu class="message-options">
      <button class="message-option ok" data-ng-click="new()">Sí</button>
      <button class="message-option cancel" data-ng-click="closeMessage()">Cancelar</button>
    </menu>
  </script>

  <script type="text/ng-template" id="example.html">
    <p class="message-text">¿Querés abandonar tu composición e ir a la composición de muestra?</p>
    <menu class="message-options">
      <button class="message-option ok">Sí</button>
      <button class="message-option cancel" data-ng-click="closeMessage()">Cancelar</button>
    </menu>
  </script>

</section>
