<section data-ng-controller="ComposerController" class="composer">
  <h1 class="title">Viaje musical</h1>
  <div class="main-box">
    <div class="main-box-common main-box-top row">
      <menu class="nav-items">
        <button class="nav-item new" data-ng-click="new()">Nuevo</button>
        <button class="nav-item wipe" data-ng-click="wipe()">Borrar</button>
        <button class="nav-item menu">Menu</button>
      </menu>
      <ul>
        <track data-ng-repeat="track in tracks" name="track"></track>
      </ul>
    </div>
    <div class="main-box-common main-box-bottom sample-dock row">
      <img class="selected-instrument col-md-2" data-ng-src="/modules/composer/img/{{selectedInstrument}}-grande.png">
      <div class="sample-controls col-md-8 row">
        <span class="move-left col-md-1">&lt;-</span>
        <ul class="sample-list col-md-10">
          <li class="sample">sample</li>
        </ul>
        <span class="move-right col-md-1">-&gt;</span>
      </div>
      <div class="controls col-md-2 row">
        <button data-ng-click="play()" class="control play col-md-6">Play</button>
        <button data-ng-click="stop()" class="control stop col-md-6">Stop</button>
      </div>
    </div>
  </div>
  <a class="back" href="/">Volver</a>

  <div 
    ng-show="messageTemplate" 
    class="message ng-hide-add ng-hide-add-active"
    ng-class="messageTemplate">
    <div ng-include="templateName(messageTemplate)" />
  </div>

  <script type="text/ng-template" id="new.html">
    <p class="message-text">¿Querés comenzar una nueva composición?</p>
    <menu class="message-options">
      <button class="message-option ok">Sí</button>
      <button class="message-option cancel" data-ng-click="closeMessage()">Cancelar</button>
    </menu>
  </script>

  <script type="text/ng-template" id="wipe.html">
    <p class="message-text">¿Querés borrar todo?</p>
    <menu class="message-options">
      <button class="message-option ok">Sí</button>
      <button class="message-option cancel" data-ng-click="closeMessage()">Cancelar</button>
    </menu>
  </script>

</section>