<li class="track {{track.name | lowercase }}">
  <button class="track-icon" data-ng-click="choose(instrument)">
    <img data-ng-src="/modules/composer/img/{{track.name | lowercase}}.png" title="{{track.name}}" alt="{{track.name}}">
  </button>
  <div class="track-bar-container">
    <ul 
      class="track-bar" 
      data-drop="true" 
      data-jqyoui-options="jquiOptions()"
      jqyoui-droppable="droppableOptions()"
      ng-model="newSample">
      <sample 
        data-ng-repeat="sample in track.samplesBuffer" 
        instrument="track.name | lowercase" 
        sample="sample"
        tracked="true" />
    </ul>
  </div>
  <button class="track-sound-control" data-ng-class="'on'" title="Prender / Apagar" data-ng-click="toggleMute(track)"></button>
</li>