.overflow-hidden{
	overflow: hidden;
}

.valle-home{
	background: url('/modules/core/img/app/valle.png');
	width: 615px; 
	height: 375px;
	position: absolute;
	top: 50%;
	left: -90px;
}

.home-fondo{
	background: url('/modules/core/img/app/back-gradient.png');
	width: 1000px; 
	height: 600px;
	position: absolute;
	bottom: -80px;
	right: -115px;
}

.mapa-home{
	background: url('/modules/core/img/app/mapa_home.svg') no-repeat;
	position: absolute;
	
	/*
	min-width: 411px; 
	min-height: 563px;
	
	max-height: 750px;
	
	background-size: 100% 100%;
	width: 43%; 
	height: 94%;
		
	position: absolute;
	top: 0;
	right: 0;
	*/
}

.globo{
	background: url('/modules/core/img/app/globo.png');
	background-size: 100% 100%;
	width: 381px; 
	height: 683px;
	position: absolute;
	top: -30px;
	left: -30px;
	z-index: 1;
}

.comenzar{
	background: url('/modules/core/img/app/comenzar.png');
	width: 335px; 
	height: 233px;
	position: absolute;
	top: 15%;
	left: 15%;
	z-index: 2;
}

.botones{
	width: 450px; 
	height: 137px;
	position: absolute;
	top: 0;
	left: 40%;
}
.compositor{
	background: url('/modules/core/img/app/compositor.png');
	width: 229px; 
	height: 117px;
	float: left;
	cursor: pointer;
}

.instrumentos{
	background: url('/modules/core/img/app/instrumentos.png');
	width: 200px; 
	height: 137px;
	float: left;
	cursor: pointer;
}

.bienvenido_home{
	background: url('/modules/core/img/app/bienvenido_1.png');
	width: 197px; 
	height: 105px;
	position: relative;
	top: 55%;
	left: 94%;
}

.loading {
  opacity: 0;
}
.loaded {
  opacity: 1;
}

.loading-screen {
  padding-top: 50px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-weight: bold;
}

#unityPlayer {
	cursor: default;
	height: 600px;
	width: 960px;
}

.contenedor-game {
	height: 600px;
	width: 990px;	
	margin: 100px auto auto;
}