[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
  background-color: #89b1ad;
}

.audio-control {
    z-index: 10000;
    position: fixed;
    top: 0;
    right: 0;
    width: 52px;
    height: 48px;
    background-size: 80%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.3);
    margin: 14px;
    border-radius: 20%;
    background-position: 6px 6px;
    background-repeat: no-repeat;
    border: 1px solid #666;
}

.audio-control.on {
    background-image: url('/modules/core/img/sound-on.png');
}

.audio-control.off {
    background-image: url('/modules/core/img/sound-off.png');
}
