.region {
    width: 100%;
}

.region-content {
    width: 100%;
    height: 100%;
}

.region-map
{
	z-index: 0;
	/*width: 420px;
	height: 409px;*/
	height: 918px;
    width: 1680px;
	position: absolute;
    /*background-position: center;*/
    /*background-position-x: -300px;
    background-position-y: -150px;*/
	/*top: 25%;
	left: 15%;*/
    background-repeat: no-repeat;
}

.region-base-map {
    position: absolute;
    /*width: 1190px;*/
    height: 918px;
    width: 1680px;
    /*background-position-x: -300px;
    background-position-y: -150px;*/
    /*background-position: center;*/
    background-repeat: no-repeat;
}

.subregion-marker
{
	z-index: 10000;
	cursor: pointer;
	position: absolute;
	width: 40px;
	height: 50px;
	background-size: 100% 100%;
	background: url('/modules/core/img/app/marker2.png');
}

.subregion-marker:hover
{
	background: url('/modules/core/img/app/marker2-hover.png');
}

.logo_mapa{
	background: url('/modules/core/img/app/logo_mapa.png');
	width: 247px;
	height: 144px;
	position: absolute;
	top: 5%;
	left: 2%;
	cursor: pointer;
}

.modal-dialog{
	width: 485px;
}

.modal-content{
	background: url('/modules/core/img/app/modal.png');
	padding: 39px 47px 20px 16px;
	width: 485px;
	height: 300px;
	border: none !important;
	box-shadow: none !important;
}

.modal-text{
	float: left;
	width: 255px;
	height: 200px;
}

.modal-text p {
    margin: 0;
}

.subregion-pics{
	width: 149px;
	height: 170px;
	margin-top: 30px;
	float: left;
	border: 5px solid #92322A;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.region-chicos{
	top: 40%;
	left: 65%;
	position: absolute;
	height: 320px;
	width: 300px;
}

.region-chicos.pampa {
    top: 20%;
    left: 40%;
}

.region-bienvenido.noa {
    background: url('/modules/core/img/app/bienvenido_noa.png');
}

.region-bienvenido.nea {
    background: url('/modules/core/img/app/bienvenido_nea.png');
}

.region-bienvenido.sierras {
    background: url('/modules/core/img/app/bienvenido_sierras.png');
}

.region-bienvenido.pampa {
    background: url('/modules/core/img/app/bienvenido_pampa.png');
}

.region-bienvenido.patagonia {
    background: url('/modules/core/img/app/bienvenido_patagonia.png');
}

.region-bienvenido.cuyo {
    background: url('/modules/core/img/app/bienvenido_cuyo.png');
}

.region-chico{
	background: url('/modules/core/img/app/chico.png');
	width: 108px;
	height: 190px;
	float: left;
	margin-top: 20px;
	margin-left: 50px;
}

.region-chica{
	background: url('/modules/core/img/app/chica.png');
	width: 128px;
	height: 177px;
	float: right;
	margin-top: 30px;
}

.region-bienvenido{
	background: url('/modules/core/img/app/bienvenido_2.png');
	width: 169px;
	height: 90px;
	float: left;
}

.subregion-title{
	font-size: 30px;
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
	color: #4edcab;
    text-shadow: -1px 0 #39a580, 0 1px #39a580, 1px 0 #39a580, 0 -1px #39a580;
}

.subregion-description{
	color: #92322A;
	padding-left: 10px;
	padding-right: 10px;
	height: 135px;
    overflow-y: auto;
}
.audio-control {
    z-index: 10000;
    position: fixed;
    top: 0;
    right: 0;
    width: 37px;
    height: 32px;
}

.audio-control.on {
    background: url('/modules/core/img/sound-on.png');
}

.audio-control.off {
    background: url('/modules/core/img/sound-off.png');
}

.loading-screen {
    padding-top: 50px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-weight: bold;
}

.loading-screen .globito {
    animation: swing 3s infinite;
}

@keyframes swing {
    0% { transform: rotate(5deg); animation-timing-function: ease-in-out; }
    50% { transform: rotate(-5deg); animation-timing-function: ease-in-out; }
    100% { transform: rotate(5deg); animation-timing-function: ease-in-out; }
}

.loading-screen .globito img {
    animation: bounce 9s infinite;
}

@keyframes bounce {
    0% {
        transform: translate3d(10px, 10px, 0px);
        animation-timing-function: ease-in;
    }
    25% {
        transform: translate3d(70px, 15px, 0px);
        animation-timing-function: ease-out;
    }
    50% {
        transform: translate3d(60px, -20px, 0px);
        animation-timing-function: ease-out;
    }
    60% {
        transform: translate3d(50px, -25px, 0px);
        animation-timing-function: ease-out;
    }
    75% {
        transform: translate3d(-40px, -10px, 0px);
        animation-timing-function: ease-in;
    }
    75% {
        transform: translate3d(-30px, 20px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(10px, 10px, 0px);
    }
}

.loader-container {
    display: flex;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
}

.loading-screen .loader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 70px;
}

@keyframes pulse {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

.loading-screen .loader-block {
    background: url('/modules/core/img/loaders/punto-rojo.png');
    height: 30px;
    width: 12px;
    animation: pulse 0.4s ease-in infinite alternate;
}

.loading-screen .delay1 {
    animation-delay: 0.1s
}

.loading-screen .delay2 {
    animation-delay: 0.2s
}

.loading-screen .delay3 {
    animation-delay: 0.3s
}

.loading-screen .delay4 {
    animation-delay: 0.4s
}
