<menu class="track-headers">
  <button data-ng-repeat="instrument in instruments" class="track-icon" data-ng-click="choose({instrument: instrument})">
    <img data-ng-src="/modules/core/img/{{instrument.name | lowercase}}.png" title="{{instrument.name}}" alt="{{instrument.name}}">
  </button>
</menu>
<ul class="track-grids">
  <span class="timeline-cursor" />
  <track-grid data-ng-repeat="track in tracks" track="track" />
</ul>
<menu class="track-controls">
  <button data-ng-repeat="track in tracks" data-ng-click="track.toggleMute()" class="track-control-sound" data-ng-class="track.isMute() ? 'off' : 'on'" title="Prender / Apagar"></button>
</menu>
