@import "controls";
@import "nav";
@import "main-box";
@import "message";
@import "sample-dock";
@import "track";
@import "sample";

body {
  background-color: #47C0C0;
}

button:focus { outline: none; }
button { border: none; }

.composer {
  margin-bottom: 50px;
}