@import "controls";
@import "nav";
@import "main-box";
@import "message";
@import "sample-dock";
@import "track-dock";
@import "sample";

body {
  background-color: #47C0C0;
}

button:focus { outline: none; }
button { border: none; }

.composer {
  margin-bottom: 50px;
  transition: opacity 0.5s ease-out;
  &.loading {
    opacity: 0;
  }
  &.loaded {
    opacity: 1;
  }
}

.composer-loading-screen {
  padding-top: 50px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  text-align: center;
  font-weight: bold;
}