.composer .controls {
  position: relative;
  float: right;
  height: 100%;
  padding-top: 20px;
}

.composer .controls .control {
  height: 63px;
  width: 66px;
  @include text-hide();
}

.composer .controls .stop {
  background: url(/modules/viaje/img/stop.png);
}

.composer .controls .play {
  background: url(/modules/viaje/img/play.png);
}

/* VIAJEROS
.control:before,
.control:after {
  content: " ";
  position: absolute;
  z-index: 99;
}

.control:before {
  background: url(/modules/viaje/img/viajera.png);
  height: 203px;
  width: 151px;
  top: -80px;
  left: 25%;
}

.control:after {
  content: " ";
  background: url(/modules/viaje/img/viajero.png);
  height: 212px;
  width: 125px;
  top: -95px;
  right: 25%;
} */
