.composer .controls {
  position: relative;
  float: right;
  height: 100%;
  padding-top: 20px;
}

.composer .controls .control {
  height: 63px;
  width: 66px;
  @include text-hide();
}

.composer .controls .stop {
  background: url(/modules/core/img/stop.png);
}

.composer .controls .play {
  background: url(/modules/core/img/play.png);
}

