.composer .controls {
  position: relative;
  float: right;
}

.composer .controls .control {
  height: 63px;
  width: 66px;
  text-indent: -9999px; 
  direction: ltr;
}

.composer .controls .stop {
  background: url(/modules/composer/img/stop.png);
}

.composer .controls .play {
  background: url(/modules/composer/img/play.png);
}

/* VIAJEROS 
.control:before,
.control:after {
  content: " ";
  position: absolute;
  z-index: 99;
}

.control:before {
  background: url(/modules/composer/img/viajera.png);
  height: 203px;
  width: 151px;
  top: -80px;
  left: 25%;
}

.control:after {
  content: " ";
  background: url(/modules/composer/img/viajero.png);
  height: 212px;
  width: 125px;
  top: -95px;
  right: 25%;
} */
