.main-box > .main-box-common {
  @include make-row();
  background-clip: padding-box;
  border-style: solid;
}

.main-box > .main-box-top {
  border-image: url(/modules/core/img/main-box-top.png) 50 10 20 10 stretch;
  border-width: 50px 10px 20px 10px;
  min-height: 435px;
  background-color: #F9EBB5;
  padding: 15px;
}

.main-box > .main-box-bottom {
  border-image: url(/modules/core/img/main-box-bottom.png) 10 10 40 10 stretch;
  border-width: 10px 10px 40px 10px;
  height: 195px;
  background-color: #DCD4B9;
  margin-top: -25px;
  position: relative;
}
