.composer > .title {
  background: url(/modules/core/img/viaje-musical.png);
  height: 125px;
  width: 172px;
  position: absolute;
  top: -19px;
  left: 1%;
  text-indent: -9999px;
  direction: ltr;
}

.composer > .back {
  background: url(/modules/core/img/volver.png);
  height: 128px;
  width: 142px;
  position: absolute;
  bottom: 0;
  right: 1%;
  text-indent: -9999px;
  direction: ltr;
}

.composer > .botones {
  left: 29%;
  top: -10px;
}

.composer .nav-items {
  list-style: none;
  position: absolute;
  top: 20px;
  right: 10%;
  z-index: 2000;
}

.composer .nav-items > .nav-item {
  float: left;
  margin-right: 10px;
}

.composer .nav-items > .nav-item {
  text-indent: -9999px;
  direction: ltr;
}

.composer .nav-items > .nav-item.wipe {
  background: url(/modules/core/img/papelera.png);
  width: 53px;
  height: 50px;
}

.composer .nav-items > .nav-item.menu {
  background: url(/modules/core/img/menu.png);
  width: 52px;
  height: 51px;
}

.composer .nav-items > .nav-item.new {
  background: url(/modules/core/img/new.png);
  width: 52px;
  height: 51px;
}
