$timeline-grid-size: 20px;
$max-sample-beat: 20;
$max-sample-pos: 25;

@mixin sample-box($sample) {
  cursor: pointer;
  border-style: solid;
  border-width: 6px 9px 7px;
  -moz-border-image: url(/modules/composer/img/#{$sample}.png) 6 9 7;
  -webkit-border-image: url(/modules/composer/img/#{$sample}.png) 6 9 7;
  -o-border-image: url(/modules/composer/img/#{$sample}.png) 6 9 7;
  border-image: url(/modules/composer/img/#{$sample}.png) 6 9 7 fill;
}

.composer .sample-dock .sample-controls .sample-list .sample,
.composer .track .track-bar .sample {
  height: 40px;
  margin-top: 2px;

  @for $i from 1 to $max-sample-beat {
    &.beats-#{$i} {
      @if $i % 3 == 0 {
        @include sample-box(sample3);
      } @else if $i % 2 == 0 {
        @include sample-box(sample2);
      } @else {
        @include sample-box(sample1);
      }
      width: $timeline-grid-size * $i;
    }       
  }
  @for $i from 0 to $max-sample-pos {
    &.pos-#{$i} {
      left: $timeline-grid-size * $i;
    }
  }
}

.composer .sample-dock .sample-controls .sample-list .sample {
  float: left;
}

.composer .track .track-bar .sample {
  position: absolute;
}