$timeline-grid-size: 25px;
$max-sample-beat: 21;
$max-sample-pos: 100;

@mixin sample-box($sample) {
  cursor: pointer;
  border-style: solid;
  border-width: 6px 9px 7px;
  -moz-border-image: url(/modules/viaje/img/#{$sample}.png) 6 9 7;
  -webkit-border-image: url(/modules/viaje/img/#{$sample}.png) 6 9 7;
  -o-border-image: url(/modules/viaje/img/#{$sample}.png) 6 9 7;
  border-image: url(/modules/viaje/img/#{$sample}.png) 6 9 7 fill;
}

.composer .sample-dock .sample-controls .sample-list .sample,
.composer .track-grid .track-grid-inner .sample {
  height: 40px;
  margin-top: 2px;

  & > .sample-dot {
    float:left;
    background: url(/modules/viaje/img/sample-dot.png) center no-repeat;
    background-size: 6px 6px;
    width: 6px;
    height: 6px;
    margin-right: 2px;
  }

  &.beats-1 > .sample-dot {
    background-size: 7px 2px;
    width: 7px;
    height: 3px;
  }

  @for $i from 1 to $max-sample-beat {
    &.beats-#{$i} {
      @include sample-box('sample' + (($i % 3)+1));
      width: $timeline-grid-size * $i;
    }
  }
  @for $i from 0 to $max-sample-pos {
    &.pos-#{$i} {
      left: $timeline-grid-size * $i;
      &.ui-draggable-dragging.trash-can:after {
        content: " ";
        position: absolute;
        bottom: -20px;
        right: -20px;
        background-image: url(/modules/viaje/img/papelera-sample.png);
        background-size: 22px 20px;
        width: 22px;
        height: 20px;
      }
    }
  }
}

.composer .sample-dock .sample-controls .sample-list .sample {
  float: left;
}

.composer .track-grid .track-grid-inner .sample {
  position: absolute;
}
