
.composer .sample-dock {

  & > .selected-instrument {
    @include make-xs-column(2);
    @include make-sm-column(2);
    @include make-md-column(1.5);
    text-align: center;
    & > * { 
      width: 100%;
      min-width: 60px; 
    }
    & > .quena { width: 40px; }
  }

  & > .sample-list {
    @include make-xs-column(7);
    @include make-sm-column(7);
    @include make-md-column(8.5);
    @include make-row();
    height: 100%;
    list-style: none;
  }

  & > .controls {
    @include make-xs-column(3);
    @include make-sm-column(3);
    @include make-md-column(2);
  }

}
