$timeline-grid-size: 25px;
$max-sample-beat: 21;
$max-sample-pos: 269;
$sample-colors: "blue", "green", "red", "violet", "yellow", "white";

.composer .sample-dock .sample-controls .sample-list .sample,
.composer .track-grid .track-grid-inner .sample {
  height: 40px;
  margin-top: 2px;
  cursor: pointer;
  border-style: solid;
  border-width: 6px 9px 7px;
  
  @each $color in $sample-colors {
    &.#{$color} {
      -moz-border-image: url(/modules/core/img/sample-#{$color}.png) 6 9 7;
      -webkit-border-image: url(/modules/core/img/sample-#{$color}.png) 6 9 7;
      -o-border-image: url(/modules/core/img/sample-#{$color}.png) 6 9 7;
      border-image: url(/modules/core/img/sample-#{$color}.png) 6 9 7 fill;    
    }
  }

  & > .sample-dot {
    float:left;
    background: url(/modules/core/img/sample-dot.png) center no-repeat;
    background-size: 6px 6px;
    width: 6px;
    height: 6px;
    margin-right: 2px;
  }

  &.beats-1 > .sample-dot {
    background-size: 7px 2px;
    width: 7px;
    height: 3px;
  }

  @for $i from 1 to $max-sample-beat {
    &.beats-#{$i} {
      width: $timeline-grid-size * $i;
    }
  }
  
  &.pos {
    &.ui-draggable-dragging.trash-can:after {
      content: " ";
      position: absolute;
      bottom: -20px;
      right: -20px;
      background-image: url(/modules/core/img/papelera-sample.png);
      background-size: 22px 20px;
      width: 22px;
      height: 20px;
    }    
    @for $i from 0 to $max-sample-pos {
      &.pos-#{$i} {
        left: $timeline-grid-size * $i;
      }
    }
  }
}

.composer .sample-dock .sample-controls .sample-list .sample {
  float: left;
}

.composer .track-grid .track-grid-inner .sample {
  position: absolute;
}
