$track-height: 53px;

.track {
  list-style: none;
  height: $track-height;
  margin-bottom: 10px;
  position: relative;
  @include make-row();
}

.track > .track-icon,
.track > .track-sound-control,
.track > .track-bar-container {
  float: left;
}

.track > .track-icon {
  height: 100%;
  @include make-xs-column(1);
  @include make-sm-column(1);
  @include make-md-column(1);
  background: none;
}

.track > .track-icon > img {
  max-height: $track-height - 3px;
}

.track > .track-bar-container {
  @include make-xs-column(10);
  @include make-sm-column(10);
  @include make-md-column(10);
  height: 100%;
  background-color: #d2d2d2;
  background-color: rgba(0,0,0,0.1);
  margin-right: 20px;  
  padding: 5px;

  &, .track-bar {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;    
  }

  & > .track-bar {
    padding: 0;
    height: 100%;
    list-style: none;
    position: relative;

    &.acceptable-sample {
      background-color: rgba(0,0,0,0.4);
    }

    &.incoming-sample {
      background-color: rgba(0,0,0,0.5);
    }
  }
}

.track > .track-sound-control {
  width: 37px;
  height: 32px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.track > .track-sound-control.on {
  background: url(/modules/composer/img/sound-on.png);
}

.track > .track-sound-control.off {
  background: url(/modules/composer/img/sound-off.png);  
}

