.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
public/tmp
public/common/audio/instrument
public/common/audio/subregion
public/common/images/instrument
public/lib
public/css/
public/dist/
icon/
stats/
aws*
build.sh
app/tests/coverage/
.bower-*/
.idea/
