.contenedor-instrumento{
	background-clip: padding-box;
	padding: 15px;  
	border-image: url(/modules/core/img/app/fondo_instrumentos.png) 30 20 50 20 stretch;
	border-width: 30px 20px 50px 20px;
	width: 70%;
	min-width: 300px; 
	height: 400px;
	position: absolute;
	top: 25%;
	left: 20%;
	background-color: #dfd7a9;
}

.instrument-pic{
	position: relative;
	top: 60px;	
}
