<section class="loading-screen">
  <p>Cargando...</p>
  <img src="/modules/composer/img/ajax-loader.gif" alt="Cargando...">
</section>


<section ng-controller="HomeController" class="home loading">
	
	<div>

	</div>
	
	<div>
		<div class="home-fondo"></div>

		<div class="valle-home"></div>
		<div id="map" class="mapa-home"></div>

		<div id="globo" class="globo aterrizar" ng-class="{ volar: !aterrizar }">
			<div ng-hide="aterrizar" class="bienvenido_home"></div>
		</div>

		<!-- <div class="comenzar" ng-click="aterrizar = !aterrizar" ng-init="aterrizar = false"></div> -->
		<div class="comenzar"></div>
	</div>

</section>