<header data-ng-include="'/modules/core/views/admin/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>

<section data-ng-controller="SubregionsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Subregion</h1>
	</div>
	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="update()" novalidate>
			<fieldset>
				
				<div class="form-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input type="text" data-ng-model="subregion.name" id="name" class="form-control" placeholder="Name" required>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label" for="description">Description</label>
					<div class="controls">
						<textarea data-ng-model="subregion.description" id="description" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="pics">Marker image</label>
					<div class="controls">				
						<input type="file" id="pics" class="form-control" data-ng-file-select="picSelect($files)">
						<progressbar ng-hide="singlePicPercent.value == 0 || singlePicPercent.value == 100" style="margin-top: 5px;" class="progress-striped active" value="singlePicPercent.value" type="success"><b>{{singlePicPercent.value}}%</b></progressbar>
					</div>

					<div ng-hide="!pic.value" style="widht: 100px; height: 150px; padding:10px; float:left;" ng-mouseover="show = 1" ng-mouseleave="show = 0" ng-init="show = 0">
						<button ng-hide="show == 0" type="button" class="btn btn-default btn-xs" style="position: absolute; margin: 5px; margin-left: 70px;" ng-click="removePic()"><span class="glyphicon glyphicon-remove"></span></button>
						<img src="{{pic.value.path + pic.value.name}}" width="100px" height="100px">
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label" for="pics">Pics</label>
					<div class="controls">				
						<input type="file" id="pics" class="form-control" data-ng-file-select="onFileSelect($files, 'image')" multiple>
						<progressbar ng-hide="picPercent.value == 0 || picPercent.value == 100" style="margin-top: 5px;" class="progress-striped active" value="picPercent.value" type="success"><b>{{picPercent.value}}%</b></progressbar>
					</div>

					<div data-ng-repeat="file in picList" style="widht: 100px; height: 150px; padding:10px; float:left;" ng-mouseover="show = 1" ng-mouseleave="show = 0" ng-init="show = 0">
						<button ng-hide="show == 0" type="button" class="btn btn-default btn-xs" style="position: absolute; margin: 5px; margin-left: 70px;" ng-click="removeFile( file, 'image' )"><span class="glyphicon glyphicon-remove"></span></button>
						<img src="{{file.path + file.name}}" width="100px" height="100px">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="audio">Audio</label>
					<div class="controls">				
						<input type="file" id="audio" class="form-control" data-ng-file-select="onFileSelect($files, 'audio')" multiple>
						<progressbar ng-hide="picPercent.value == 0 || picPercent.value == 100" style="margin-top: 5px;" class="progress-striped active" value="picPercent.value" type="success"><b>{{picPercent.value}}%</b></progressbar>
					</div>
					
					<div ng-repeat="audio in audioList" style="widht: 75px; height: 35px; padding:10px; float:left;" >
						<audio id="{{ audio.name }}"><source src="{{ audio.path + audio.name }}" type="audio/mp3"></audio>
						<a class="btn btn-success" data-ng-audio="{{ audio.name }}"><i class="glyphicon glyphicon-play-circle"></i></a>
						<a class="btn btn-warning" ng-click="removeFile( audio, 'audio' )"><i class="glyphicon glyphicon-remove"></i></a>
					</div>
				</div>
				
				<br/>
				
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
				
			</fieldset>
		</form>
	</div>
</section>
