<header data-ng-include="'/modules/core/views/admin/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>

<section data-ng-controller="RegionsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Region</h1>
	</div>
	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="update()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input type="text" data-ng-model="region.name" id="name" class="form-control" placeholder="Name" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="description">Description</label>
					<div class="controls">
						<textarea data-ng-model="region.description" id="description" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="instruments">Instruments</label>
					<div class="controls">				
						<select multiselect multiple="multiple" ng-selection="regionInstruments" ng-resource="{{ region }}" ng-data="Instruments" data-ng-model="region.instruments" id="instruments" class="form-control"  placeholder="Instruments"></select>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label" for="pics">Pic</label>
					<div class="controls">				
						<input type="file" id="pics" class="form-control" data-ng-file-select="onFileSelect($files)">
						<progressbar ng-hide="percent.value == 0 || percent.value == 100" style="margin-top: 5px;" class="progress-striped active" value="percent.value" type="success"><b>{{percent.value}}%</b></progressbar>
					</div>

					<div ng-hide="!pic.value" style="widht: 100px; height: 150px; padding:10px; float:left;" ng-mouseover="show = 1" ng-mouseleave="show = 0" ng-init="show = 0">
						<button ng-hide="show == 0" type="button" class="btn btn-default btn-xs" style="position: absolute; margin: 5px; margin-left: 70px;" ng-click="removeFile()"><span class="glyphicon glyphicon-remove"></span></button>
						<img src="{{pic.value.path + pic.value.name}}" width="100px" height="100px">
					</div>
				</div>
				<div class="form-group" style="position: relative; widht: 100%; height: 500px;">
				<div style="z-index: 0; width: 420px; height: 409px; background: url('{{pic.value.path + pic.value.name}}'); position: absolute; " ng-click="addMarker($event)" >
				</div>
				<div class="subregion-marker" data-ng-repeat="subregion in region.subregions" style="z-index: 9; position: absolute; top: {{ subregion.offsetY - 50}}px; left: {{ subregion.offsetX - 50 }}px; /*background: url('/common/images/subregion/{{subregion.id}}/{{subregion.pic}}');*/" ng-mouseover="show = 1" ng-mouseleave="show = 0" ng-init="show = 0">
						<button ng-hide="show == 0" type="button" class="btn btn-default btn-xs" style="position: absolute" ng-click="removeSubregion(marker)"><span class="glyphicon glyphicon-remove"></span></button>
					</div>
				</div>
				
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>

		<script type="text/ng-template" id="myModalContent.html">

			<h3 class="modal-title" style="margin: 10px">Pick a subregion!</h3>
			<select ng-model="selected.item" style="margin: 20px;">
			  <option data-ng-repeat="item in items" value="{{ item.value }}">{{ item.label }}</option>
			</select>
			<div style="margin-top: 110px; float: right; margin-right: 10px;">
			<button class="btn btn-primary" data-ng-click="ok()">OK</button>
			<button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
			</div>
		</div>
		</script>		
		
	</div>
</section>

