<header data-ng-include="'/modules/core/views/admin/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>

<section data-ng-controller="RegionsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Region</h1>
	</div>
	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="update()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input type="text" data-ng-model="region.name" id="name" class="form-control" placeholder="Name" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="description">Description</label>
					<div class="controls">
						<textarea data-ng-model="region.description" id="description" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="instruments">Instruments</label>
					<div class="controls">				
						<select multiselect multiple="multiple" ng-data="Instruments" data-ng-model="region.instruments" id="instruments" class="form-control"  placeholder="Instruments"></select>
					</div>
				</div>						
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
		
		<div class="list-group">
			<a data-ng-repeat="instrument in instruments" data-ng-href="#!/admin/instruments/{{instrument._id}}" class="list-group-item">
				<h4 class="list-group-item-heading" data-ng-bind="instrument.name"></h4>
			</a>
		</div>
		
	</div>
</section>

