<header data-ng-include="'/modules/core/views/admin/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>

<section data-ng-controller="RegionsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="region.name"></h1>
		
		<p data-ng-bind="region.description"></p>	
		
		<div class="list-group">
			<h2>Instruments</h2>
			<a data-ng-repeat="instrument in instruments" data-ng-href="#!/admin/instruments/{{instrument._id}}" class="list-group-item">
				<h4 class="list-group-item-heading" data-ng-bind="instrument.name"></h4>
			</a>
		</div>

		<img src="{{ pic.value.path + pic.value.name }}" />		
	</div>

	<div class="pull-right" data-ng-show="authentication.user._id == region.user._id">
		<a class="btn btn-primary" href="/#!/admin/regions/{{region._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>	
</section>
