.region-map
{
	z-index: 0; 
	width: 420px; 
	height: 409px;
	position: absolute;
	top: 25%;
	left: 15%;
}

.subregion-marker
{
	z-index: 9;
	cursor: pointer;
	position: absolute; 
	width: 80px; 
	height: 95px;
	background-size: 100% 100%;
	background: url('/modules/core/img/app/marker.png');
}

.logo_mapa{
	background: url('/modules/core/img/app/logo_mapa.png');
	width: 247px; 
	height: 144px;
	position: absolute;
	top: 5%;
	left: 2%;
	cursor: pointer;
}

.modal-dialog{
	width: 485px; 
}

.modal-content{
	background: url('/modules/core/img/app/modal.png');
	padding: 39px 47px 20px 16px;
	width: 485px; 
	height: 271px;
}

.modal-text{
	float: left;
	width: 255px;
	height: 200px;
}

.subregion-pics{
	width: 150px; 
	height: 170px; 
	margin-top: 30px; 
	float: left;
	border: 5px solid #92322A;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.region-chicos{
	top: 40%;
	left: 65%;
	position: absolute;
	height: 320px;
	width: 300px;
}

.region-chico{
	background: url('/modules/core/img/app/chico.png');
	width: 108px; 
	height: 190px;
	float: left;
	margin-top: 20px;
	margin-left: 50px;		
}

.region-chica{
	background: url('/modules/core/img/app/chica.png');
	width: 128px; 
	height: 177px;
	float: right;
	margin-top: 30px;
}

.region-bienvenido{
	background: url('/modules/core/img/app/bienvenido_2.png');
	width: 169px; 
	height: 90px;
	float: left;
}
