<section data-ng-controller="RegionsController" data-ng-init="findOne()">

<header data-ng-include="'/modules/core/views/public/header.client.view.html'" class="navbar navbar-fixed-top"></header>

<div class="contenedor-instrumentos">
	<div class="instrumentos-controles izquierda">
		<div class="flecha-horizontal izquierda" data-ng-click="slider('prev', regionInstruments)" ></div>
	</div>
	
	<div class="slider-instrumentos">
	<ul class="instrumentos-lista">
		<li data-ng-repeat="instrument in regionInstruments"  ng-hide="offset > {{$index}}">
		<a ng-href="#!/instruments/{{regionName}}/{{instrument._id}}" class="instrumento-grande" style="background: url('common/images/instrument/{{instrument._id}}/{{ instrument.pic }}') no-repeat center;"></a>
		</li>
	</ul>
	</div>
	
	<div class="instrumentos-controles derecha">
		<div class="flecha-horizontal derecha" data-ng-click="slider('next', regionInstruments)"></div>
	</div>
</div>

<a href="#!/regions/{{regionName}}" class="volver"></a>

</section>
