<section data-ng-controller="RegionsController" data-ng-init="findOne()">

<div class="region-map" style="background: url('{{pic.value.path + pic.value.name}}');" >
	<div class="subregion-marker" data-ng-repeat="subregion in region.subregions" style="top: {{ subregion.offsetY - 50}}px; left: {{ subregion.offsetX - 50 }}px; background: url('/common/images/subregion/{{subregion.id}}/{{subregion.pic}}');" data-ng-click="openSubregionModal(subregion)"></div>
</div>
	
	<script type="text/ng-template" id="myModalContent.html">
	<div class="modal-header">
		<h3 class="modal-title">I'm a modal!</h3>
	</div>
	<h1>{{ subregion.name }}</h1>
	<div class="modal-footer">
		<button class="btn btn-primary" data-ng-click="ok()">OK</button>
		<button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
	</div>
	</script>
			
</section>


