<section data-ng-controller="RegionsController" data-ng-init="findOne()">

<div class="botones">
	<a href="#!/compositor"   class="compositor"></a>
	<a href="#!/regions/{{region._id}}/instruments" class="instrumentos"></a>
</div>

<a href="#!/" class="logo_mapa"></a>

<div class="region-map" style="background: url('{{pic.value.path + pic.value.name}}');" >
	<div class="subregion-marker" data-ng-repeat="subregion in region.subregions" style="top: {{ subregion.offsetY - 50}}px; left: {{ subregion.offsetX - 50 }}px;" data-ng-click="openSubregionModal(subregion)"></div>
</div>

<div class="region-chicos">
	<div class="region-bienvenido"></div>
	<div class="region-chica"></div>
	<div class="region-chico"></div>
</div>	

	<script type="text/ng-template" id="myModalContent.html">
		<div class="subregion-modal">
			<div class="modal-text">
				<p class="subregion-title">{{ subregion.name }}</p>
				<p class="subregion-description">{{ subregion.description }}</p>
			</div>
			<div class="subregion-pics">
			<ul rn-carousel rn-carousel-buffered rn-carousel-indicator rn-carousel-control class="my-slider ng-cloak" style="width: 140px; height: 140px;" >
				<li ng-repeat="pic in subregion.pics" ng-style="{'background-image': 'url( common/images/subregion/' + subregion.id + '/' + pic  + ')', 'background-size': '100% 100%'}"></li>
			</ul>
			</div>								
		</div>
	</script>
			
</section>


